* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    font-family: 'neucha';
    background-color: #3B3B3B;
    color: white;
    height: 100%;
}

h1 {
    font-family: 'just_another_hand';
    letter-spacing: 0.4rem;
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    font-family: 'just_another_hand';
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    font-weight: bold;
    text-shadow: 0 0 1rem grey;
}

p {
    font-family: 'neucha';
    font-size: 1rem;
    line-height: 1.2;
}

@media(80rem <= width <= 120rem){
    p{
        font-size: 1.25rem;
    }
}

@media(width > 120rem){
    p{
        font-size: 1.75rem;
    }
}

a{
    color: white;
    text-decoration: underline;
}

a:hover, a:focus{
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

/* Nav Section Styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;

    width: 20%;
    height: 100%;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 0.5rem black;
    font-size: 1rem;
}

nav a:hover, nav a:focus {
    color: #3FC2E1;
    opacity: 0.7;
    transition: all ease-in-out 0.5s;
}

.nav-item{
    margin: 0;
    padding: 0;
}

.name {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    position: absolute;
    height: 84%;
}

.works {
    position: absolute;
    top: 84%;
    height: 4%;
    color: #3FC2E1;
}

.about {
    position: absolute;
    top: 88%;
    height: 4%;
}

.contact {
    position: absolute;
    top: 92%;
    height: 8%;
}

@media(40rem <= width < 64rem){
    nav{
        padding-left: 2rem;
    }

    .name{
        font-size: 2rem;
    }
}

@media(64rem <= width < 80rem){
    nav{
        padding-left: 2rem;
        width: 40%;
    }

    .works, .about, .contact{
        font-size: 1.25rem;
    }

    .name{
        font-size: 5rem;
        height: 45%;
    }
    
    .works {
        position: absolute;
        top: 45%;
        height: 5%;
        color: #3FC2E1;
    }
    
    .about {
        position: absolute;
        top: 50%;
        height: 5%;
    }
}

@media(80rem <= width <= 120rem){
    nav{
        padding-left: 2.75rem;
        width: 40%;
    }

    .works, .about, .contact{
        font-size: 1.25rem;
    }

    .name{
        font-size: 6.5rem;
        height: 45%;
    }
    
    .works {
        position: absolute;
        top: 45%;
        height: 5%;
        color: #3FC2E1;
    }
    
    .about {
        position: absolute;
        top: 50%;
        height: 5%;
    }
}

@media(width > 120rem){
    nav{
        padding-left: 4rem;
        width: 40%;
    }

    .works, .about, .contact{
        font-size: 1.75rem;
    }

    .name{
        font-size: 10rem;
        height: 45%;
    }
    
    .works {
        position: absolute;
        top: 45%;
        height: 5%;
        color: #3FC2E1;
    }
    
    .about {
        position: absolute;
        top: 50%;
        height: 5%;
    }
}


/* Work Section Styling */
.work-section{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.work-picture{
    width: 70%;
    height: auto;
    max-width: 120rem;
    display: block;
}

.work_picture:hover,
.work_picture:focus {
  scale: 115%;
  opacity: 0.7;
  transition: all 1s ease-in-out;
}

/* .reflection{
    opacity: 0.3;
    transform: rotateX(180deg);
}

.reflection:hover,
.reflection:focus{
    opacity: 0.2;
} */

@media (max-width: 64rem){
    .work-picture{
        width: 75%;
    }
}

@media (min-width: 64.0625rem){
    .work-picture{
        width: 75%;
    }
}

.work-section h2 {
    position: absolute;
    right: 1.1rem;
    text-align: end;
}

.explore{
    position: absolute;
    top: 92%;
    right: 1.5rem;
    text-decoration: none;
    color: white;
}

.explore:hover, .explore:focus{
    color: #3FC2E1;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

@media(40rem <= width < 64rem){
    .work-section h2 {
        font-size: 3.25rem;
    }

    .work2-h2 {
        font-size: 2.25rem;
    }
}

@media(64rem <= width < 80rem){
    .work-section h2 {
        font-size: 5rem;
        right: 1.6rem;
    }

    .explore{
        top: 55%;
        right: 2rem;
    }

    .explore p{
        font-size: 1.25rem;
    }
}

@media(80rem <= width < 120rem){
    .work-section h2 {
        font-size: 6.5rem;
        right: 2.35rem;
    }

    .explore{
        top: 57%;
        right: 2.75rem;
    }

    .explore p{
        font-size: 1.25rem;
    }
}

@media(width >= 120rem){
    .work-section h2 {
        font-size: 10rem;
        right: 3.6rem;
    }
    .explore{
        top: 58%;
        right: 4rem;
    }
    .explore p{
        font-size: 1.75rem;
    }
}